server:
  port: 8083

spring:
  application:
    name: account-service

  datasource:
    url: jdbc:mysql://mysql-db:3306/account_db
    username: root
    password: chvenu12
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect

eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:8761/eureka
  instance:
    prefer-ip-address: true
